/* Add screen styles below */
a.active {
    font-weight: bold;
}


h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

h2 {
  margin-top: 2em;
  border-bottom: 2px solid #ff9900;
  padding-bottom: 0.3em;
}