/* Add screen styles below */
a.active {
    font-weight: bold;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #0073bb;         
}

h1, h2, h3 {
  color: #232f3e;          
}

h1 {
  text-align: center;
  margin-bottom: 1.5em;
}